@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  margin-bottom: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.header, .content, .footer {
  text-align: center;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.left-links {
  display: flex;
  gap: 10px
}

.right-links {
  display: flex;
  gap: 10px
}

a {
  text-decoration: none;
  color: gray;
}


